# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.sqlite3
*.db

# Flask instance folder
instance/
.env

# Virtual environment
venv/
.env/
*.env

# Data files
# data/

# Model files
models/
*.pt
*.onnx
*.h5

# VSCode settings (optional)
.vscode/

# macOS
.DS_Store

# Logs
*.log
